.wrapper {
    display: flex;
    gap: 1rem;
    margin-top: 30px;
}
.pagination {}

.pagination li {
    padding: 2px 7px;
    cursor: pointer;
}

/* Select */
.selectWrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.selectWrapper select {
    width: 100px;
    background-color: #1b1b1b;
    padding: .2em .5em;
    outline: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

.select {

}
.selectItem {

}

.icon {
    width: 35px;
}
