.container {
}

.inner {
  display: flex;
  align-items: flex-end;
  background-color: rgba(128, 128, 128, 0.27);
  border-radius: 10px;
  margin-top: 15px;
  padding: 0.8em;
}

.buttonsWrapper {
}

.title a {
  text-decoration: none;
  color: #220d46;
}

.title {
  margin-bottom: 8px;

}

.title a:hover {
  color: #581ea0;
}

.content {
  width: 100%;
}



.lastMessageContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: rgba(43, 43, 43, 0.89);
  color: white;
  padding: 8px;
  border-radius: 5px;
}

.dateAndAuthor {
  display: flex;
  gap: 1em;
}

.buttonsWrapper {
  display: flex;
  justify-content: flex-end;
  width: 136px;
}

.buttonsWrapper button {
  width: 120px;
  box-shadow: none;
}


.wrapperArticleInfo {
  display: flex;
  justify-content: space-between;
  align-items:center;

}
