.error {
    color: #17083b;
    animation-duration: .5s;
    animation-name: slideDown;
    height: 21px;
}

@keyframes slideDown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}