.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 70px auto;
  /*height: 700px;*/
  max-width: 1300px;
  border-radius: 8px;
  background-color: white;
  height: 700px;
  overflow: hidden;
  border-radius: 50px;
  padding: 24px 34px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.search {
  display: grid;
  grid-template-areas: "1 2";
  grid-template-columns: 1fr auto;
  align-items: center;
  margin-bottom: 24px;
}
.searchButtonWrapper {
  width: fit-content;
  text-align: end;
}

.search input {
}

.nameAndBack {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.tableContainer {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 450px;
  border-radius: 10px;
}

.tableHeaderWrapper {
  color: white;
  background-color: #292929;
  height: 48px;
  line-height: 2;
  top: 0;
  left: 0;
  position: sticky;
}

.tableHeader {
  display: grid;
  grid-template-areas: "1 2 3 4 5";
  grid-template-columns: 25% 25% 19% 9% 18%;
  padding: 0.5em;
  gap: 1%;
  height: 48px;
}

.tableHeader div:not(:last-child) {
  cursor: pointer;
  text-decoration: underline;
}


.tableLine {
}

.items {
  display: grid;
  grid-template-areas: "1 2 3 4 5";
  grid-template-columns: 25% 25% 19% 9% 18%;
  align-items: start;
  color:#1b1b1b;
  background-color: #ffffff;
  word-break: break-all;
  padding: .9em;
  margin: 0.5em 0;
  gap: 1%;
}

.items:not(last-child) {
  margin-bottom: 0;
}

.items:nth-child(2n) {
  background-color: rgba(128, 128, 128, 0.1);
}

.pagination {
  margin-top: 15px;
}

.buttonHolder {
  display: flex;
  gap: 0.3em;
  flex-wrap: wrap;
}

.search div:first-child {
  padding: 15px 15px 0 0;
}