.content {
  margin: 24px 150px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.25);
  height: 700px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  padding: 19px 24px;
  flex-shrink: 0;
}

.search {
  display: grid;
  grid-template-areas: "1 2";
  grid-template-columns: 1fr auto;
  align-items: center;
  margin-bottom: 24px;
}
.searchButtonWrapper {
  width: fit-content;
  text-align: end;
}

.search input {
}

.nameAndBack {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.tableContainer {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 480px;
  border-radius: 10px;
}

.tableHeaderWrapper {
  color: white;
  background-color: rgba(19, 32, 40, 0.95);
  height: 48px;
  line-height: 2;
  top: 0;
  left: 0;
  position: sticky;
}

.tableHeader {
  display: grid;
  grid-template-areas: "1 2 3 4 5";
  grid-template-columns: 25% 25% 19% 9% 18%;
  padding: 0.5em;
  gap: 1%;
  height: 48px;
}

.tableHeader div:not(:last-child) {
  cursor: pointer;
  text-decoration: underline;
}


.tableLine {
}

.items {
  display: grid;
  grid-template-areas: "1 2 3 4 5";
  grid-template-columns: 25% 25% 19% 9% 18%;
  align-items: start;
  color: rgba(17, 30, 39, 1);
  background-color: #ffffff;
  word-break: break-all;
  padding: .9em;
  margin: 0.5em 0;
  gap: 1%;
}

.items:not(last-child) {
  margin-bottom: 0;
}

.items:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.8);
}

.pagination {
  margin-top: 15px;
}

.buttonHolder {
  display: flex;
  gap: 0.3em;
  flex-wrap: wrap;
}

.search div:first-child {
  padding: 15px 15px 0 0;
}