.content {
    display: flex;
    height: 600px;
    background: #FEFEFF;
    border-radius: 8px;
    margin: 1.5rem 8.5rem 4.375rem;
    overflow-x: hidden;
}

.table {
    display: flex;
    flex-direction: column;
    background-color: pink;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    position: relative;
    overflow-x: hidden;
}

.tableItem {
    display: grid;
    gap: 1.3rem;
    width: 100%;
    list-style: none;
    text-align: left;
    overflow-wrap: break-word;
    padding-left: 1rem;
    min-height: 48px;
    align-items: center;
    grid-template-areas: "1 2 3 4 5";
    grid-template-columns: 20% 10% 25% 25% 20%;
}
.tableHeader {
    position: sticky;
    left: 0;
    top: 0;
    background-color: #2fff00;
}
.tableHeader li {
    cursor: pointer;
    transition: .1s linear color;
}
.tableHeader li:hover {
    color: #c113cc;
}


/* Packlist */

.content_pack {
    grid-template-areas:
    "name cards lastUpdated createdBy actions";
    grid-template-columns: 7rem 3rem 6rem 9rem 9rem;
    grid-template-rows: 1rem auto;
    width: 100%;
    height: 100%;
}


/* CardList */
.content_card {
    flex-direction: column;
}

.content_card .tableItem {
    grid-template-areas:
            "question answer lastUpdated grade actions";
    grid-template-columns: 25% 25% 20% 10% 10%;
    margin-bottom: 1rem;
}