.primaryButton {
    background: #292929;
    box-shadow: rgba(243, 243, 243, 0.25) 0px 6px 12px -2px, rgba(146, 146, 146, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    color: #e3e3e3;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.01em;
    padding: 8px 10px;
    max-width: 70%;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: .3s linear background-color;
}
.primaryButton:hover {
    background: 	#1b1b1b;
    box-shadow: rgba(243, 243, 243, 0.25) 0px 6px 12px -2px, rgba(146, 146, 146, 0.5) 0px 3px 7px -3px;
}

.secondaryButton {
    background: #D7D8EF;
    border-radius: 30px;
    padding: 8px 36px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    color: #21268F;

}

/* mini Buttons*/
.miniDeleteButton {
    color: white;
    padding: 6px;
    background: #F1453D;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    transition: .3s linear all;
}
.miniDeleteButton:hover {
    background: #e04039;
}

.miniCommonButton {
    color: white;
    padding: 6px;
    background: rgba(41, 41, 41, 0.9);
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    transition: .3s linear all;
}
.miniCommonButton:hover {
    background: rgba(41, 41, 41, 1);
}

/**/


.border-button {
    text-decoration: none;
    display: inline-block;
    padding: .7em 1.5em;
    margin: 10px 20px;
    position: relative;
    color: white;
    background: none;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    border: none;
    height: 100%;
    font-family: Roboto, sans-serif;
    font-size: .9rem;
    border-bottom: 3px solid transparent;
    transition: .15s linear all;
}

.border-button:hover {
    background: rgba(255, 255, 255, .05);
    border-bottom: 3px solid #ffa31a;
}