.primaryButton {
    background: #132028;
    box-shadow: rgba(243, 243, 243, 0.25) 0px 6px 12px -2px, rgba(146, 146, 146, 0.3) 0px 3px 7px -3px;
    border-radius: 30px;
    color: #e3e3e3;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.01em;
    padding: 8px 10px;
    max-width: 70%;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: .3s linear background-color;
}
.primaryButton:hover {
    background: #152f3b;
    box-shadow: rgba(243, 243, 243, 0.25) 0px 6px 12px -2px, rgba(146, 146, 146, 0.5) 0px 3px 7px -3px;
}

.secondaryButton {
    background: #D7D8EF;
    border-radius: 30px;
    padding: 8px 36px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    color: #21268F;

}