::-webkit-scrollbar { /* chrome based */
  width: 0;  /* ширина scrollbar'a */
  background: transparent;  /* опционально */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: inherit;
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #add8e6bf;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
