::-webkit-scrollbar { /* chrome based */
  width: 0;  /* ширина scrollbar'a */
  background: transparent;  /* опционально */
}

*,*:before,*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh !important;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: url(./f3-assets/images/paper.webp);
  background-size: cover;
  background-position: center top;
  box-sizing: inherit;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
