body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: url(./f3-assets/images/paper.webp);
  background-size: cover;
  background-position: center top;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
